@model CRUDDatabaseFirst.Model.StudentInfo

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Student Detial</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentRollNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentRollNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentSection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentSection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StudentId" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>

</div>
